In [3]:
# All libraries required for analysis
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [78]:
df = pd.read_csv(r'C:\Users\chesh\Desktop\Cape K workshop\Workshop Project\kcgsondewnpnM1.b1.20240430.113000.custom.csv')

In [80]:
df.head()

,time,base_time,time_offset,pres,qc_pres,tdry,qc_tdry,dp,qc_dp,wspd,...,u_wind,qc_u_wind,v_wind,qc_v_wind,wstat,asc,qc_asc,lat,lon,alt
0,2024-04-30 11:30:00,2024-04-30,2024-04-30 11:30:00,1022.31,0,10.20,0,6.91,0,7.5,...,-1.941143,0,7.244443,0,NaN,0.0,0,-40.680000,144.69000,91.9
1,2024-04-30 11:30:02,2024-04-30,2024-04-30 11:30:02,1020.67,0,10.42,0,7.04,0,4.5,...,-0.935602,0,4.401664,0,NaN,6.7,8,-40.679897,144.68997,105.2
2,2024-04-30 11:30:03,2024-04-30,2024-04-30 11:30:03,1019.22,0,10.35,0,6.89,0,5.0,...,-1.124756,0,4.871850,0,NaN,5.9,0,-40.679855,144.68996,117.1
3,2024-04-30 11:30:06,2024-04-30,2024-04-30 11:30:06,1017.65,0,10.25,0,6.68,0,6.0,...,-1.451531,0,5.821775,0,NaN,6.4,0,-40.679710,144.68991,129.9
4,2024-04-30 11:30:07,2024-04-30,2024-04-30 11:30:07,1016.07,0,10.20,0,6.55,0,6.8,...,-1.759970,0,6.568295,0,NaN,6.5,0,-40.679653,144.68990,142.9

In [82]:
df.tail()

,time,base_time,time_offset,pres,qc_pres,tdry,qc_tdry,dp,qc_dp,wspd,...,u_wind,qc_u_wind,v_wind,qc_v_wind,wstat,asc,qc_asc,lat,lon,alt
2218,2024-04-30 12:43:55,2024-04-30,2024-04-30 12:43:55,24.30,0,-54.46,0,-87.10,0,9.6,...,7.564903,0,-5.910351,0,NaN,7.0,0,-40.561245,144.77936,25276.8
2219,2024-04-30 12:43:58,2024-04-30,2024-04-30 12:43:58,24.24,0,-54.49,0,-87.14,0,9.6,...,7.564903,0,-5.910351,0,NaN,6.9,0,-40.561405,144.77963,25290.6
2220,2024-04-30 12:43:59,2024-04-30,2024-04-30 12:43:59,24.19,0,-54.56,0,-87.21,0,9.5,...,7.486102,0,-5.848784,0,NaN,6.6,0,-40.561460,144.77972,25303.8
2221,2024-04-30 12:44:02,2024-04-30,2024-04-30 12:44:02,24.15,0,-54.60,0,-87.25,0,9.5,...,7.382887,0,-5.978543,0,NaN,5.9,0,-40.561620,144.77998,25315.6
2222,2024-04-30 12:44:03,2024-04-30,2024-04-30 12:44:03,24.12,0,-54.54,0,-87.22,0,9.5,...,7.277423,0,-6.106482,0,NaN,4.0,0,-40.561672,144.78008,25323.7

In [86]:
df.columns

Index(['time', 'base_time', 'time_offset', 'pres', 'qc_pres', 'tdry',
       'qc_tdry', 'dp', 'qc_dp', 'wspd', 'qc_wspd', 'deg', 'qc_deg', 'rh',
       'qc_rh', 'u_wind', 'qc_u_wind', 'v_wind', 'qc_v_wind', 'wstat', 'asc',
       'qc_asc', 'lat', 'lon', 'alt'],
      dtype='object')

In [84]:
df.describe()

,pres,qc_pres,tdry,qc_tdry,dp,qc_dp,wspd,qc_wspd,deg,qc_deg,...,u_wind,qc_u_wind,v_wind,qc_v_wind,wstat,asc,qc_asc,lat,lon,alt
count,2223.000000,2223.0,2223.000000,2223.0,2223.000000,2223.0,2223.000000,2223.0,2223.000000,2223.0,...,2223.000000,2223.0,2223.000000,2223.0,0.0,2223.000000,2223.000000,2223.000000,2223.000000,2223.000000
mean,286.335146,0.0,-41.437679,0.0,-62.316230,0.0,11.592982,0.0,210.322537,0.0,...,1.717148,0.0,2.959215,0.0,NaN,5.676428,0.003599,-40.562512,144.628434,12726.153306
std,272.948935,0.0,22.838110,0.0,29.821057,0.0,3.051872,0.0,75.701864,0.0,...,10.100781,0.0,5.480424,0.0,NaN,0.591176,0.169676,0.041257,0.080538,7167.320247
min,24.120000,0.0,-65.610000,0.0,-87.700000,0.0,2.500000,0.0,81.000000,0.0,...,-20.102442,0.0,-8.066219,0.0,NaN,0.000000,0.000000,-40.680000,144.488130,91.900000
25%,67.000000,0.0,-56.620000,0.0,-86.765000,0.0,9.900000,0.0,141.000000,0.0,...,-6.833729,0.0,-1.356157,0.0,NaN,5.200000,0.000000,-40.578266,144.565645,6502.900000
50%,168.380000,0.0,-54.680000,0.0,-83.640000,0.0,12.100000,0.0,253.000000,0.0,...,3.215421,0.0,2.423275,0.0,NaN,5.600000,0.000000,-40.545795,144.632700,12953.200000
75%,452.110000,0.0,-25.285000,0.0,-35.055000,0.0,13.600000,0.0,275.000000,0.0,...,11.449490,0.0,7.029738,0.0,NaN,6.000000,0.000000,-40.533890,144.682830,18794.750000
max,1022.310000,0.0,10.420000,0.0,7.040000,0.0,20.300000,0.0,342.000000,0.0,...,17.189524,0.0,13.875229,0.0,NaN,8.100000,8.000000,-40.523590,144.780080,25323.700000

In [11]:
df.info

<bound method DataFrame.info of                      time   base_time          time_offset     pres  qc_pres  \
0     2024-04-30 11:30:00  2024-04-30  2024-04-30 11:30:00  1022.31        0
1     2024-04-30 11:30:02  2024-04-30  2024-04-30 11:30:02  1020.67        0
2     2024-04-30 11:30:03  2024-04-30  2024-04-30 11:30:03  1019.22        0
3     2024-04-30 11:30:06  2024-04-30  2024-04-30 11:30:06  1017.65        0
4     2024-04-30 11:30:07  2024-04-30  2024-04-30 11:30:07  1016.07        0
...                   ...         ...                  ...      ...      ...
2218  2024-04-30 12:43:55  2024-04-30  2024-04-30 12:43:55    24.30        0
2219  2024-04-30 12:43:58  2024-04-30  2024-04-30 12:43:58    24.24        0
2220  2024-04-30 12:43:59  2024-04-30  2024-04-30 12:43:59    24.19        0
2221  2024-04-30 12:44:02  2024-04-30  2024-04-30 12:44:02    24.15        0
2222  2024-04-30 12:44:03  2024-04-30  2024-04-30 12:44:03    24.12        0

       tdry  qc_tdry     dp  qc_dp  wspd  ...    u_wind  qc_u_wind    v_wind  \
0     10.20        0   6.91      0   7.5  ... -1.941143          0  7.244443
1     10.42        0   7.04      0   4.5  ... -0.935602          0  4.401664
2     10.35        0   6.89      0   5.0  ... -1.124756          0  4.871850
3     10.25        0   6.68      0   6.0  ... -1.451531          0  5.821775
4     10.20        0   6.55      0   6.8  ... -1.759970          0  6.568295
...     ...      ...    ...    ...   ...  ...       ...        ...       ...
2218 -54.46        0 -87.10      0   9.6  ...  7.564903          0 -5.910351
2219 -54.49        0 -87.14      0   9.6  ...  7.564903          0 -5.910351
2220 -54.56        0 -87.21      0   9.5  ...  7.486102          0 -5.848784
2221 -54.60        0 -87.25      0   9.5  ...  7.382887          0 -5.978543
2222 -54.54        0 -87.22      0   9.5  ...  7.277423          0 -6.106482

      qc_v_wind  wstat  asc  qc_asc        lat        lon      alt
0             0    NaN  0.0       0 -40.680000  144.69000     91.9
1             0    NaN  6.7       8 -40.679897  144.68997    105.2
2             0    NaN  5.9       0 -40.679855  144.68996    117.1
3             0    NaN  6.4       0 -40.679710  144.68991    129.9
4             0    NaN  6.5       0 -40.679653  144.68990    142.9
...         ...    ...  ...     ...        ...        ...      ...
2218          0    NaN  7.0       0 -40.561245  144.77936  25276.8
2219          0    NaN  6.9       0 -40.561405  144.77963  25290.6
2220          0    NaN  6.6       0 -40.561460  144.77972  25303.8
2221          0    NaN  5.9       0 -40.561620  144.77998  25315.6
2222          0    NaN  4.0       0 -40.561672  144.78008  25323.7

[2223 rows x 25 columns]>

In [13]:
df.dtypes

time            object
base_time       object
time_offset     object
pres           float64
qc_pres          int64
tdry           float64
qc_tdry          int64
dp             float64
qc_dp            int64
wspd           float64
qc_wspd          int64
deg            float64
qc_deg           int64
rh             float64
qc_rh            int64
u_wind         float64
qc_u_wind        int64
v_wind         float64
qc_v_wind        int64
wstat          float64
asc            float64
qc_asc           int64
lat            float64
lon            float64
alt            float64
dtype: object

In [16]:
df.columns

Index(['time', 'base_time', 'time_offset', 'pres', 'qc_pres', 'tdry',
       'qc_tdry', 'dp', 'qc_dp', 'wspd', 'qc_wspd', 'deg', 'qc_deg', 'rh',
       'qc_rh', 'u_wind', 'qc_u_wind', 'v_wind', 'qc_v_wind', 'wstat', 'asc',
       'qc_asc', 'lat', 'lon', 'alt'],
      dtype='object')

In [18]:
df.isnull().sum()

time              0
base_time         0
time_offset       0
pres              0
qc_pres           0
tdry              0
qc_tdry           0
dp                0
qc_dp             0
wspd              0
qc_wspd           0
deg               0
qc_deg            0
rh                0
qc_rh             0
u_wind            0
qc_u_wind         0
v_wind            0
qc_v_wind         0
wstat          2223
asc               0
qc_asc            0
lat               0
lon               0
alt               0
dtype: int64

In [26]:
df.describe()

,pres,qc_pres,tdry,qc_tdry,dp,qc_dp,wspd,qc_wspd,deg,qc_deg,...,u_wind,qc_u_wind,v_wind,qc_v_wind,wstat,asc,qc_asc,lat,lon,alt
count,2223.000000,2223.0,2223.000000,2223.0,2223.000000,2223.0,2223.000000,2223.0,2223.000000,2223.0,...,2223.000000,2223.0,2223.000000,2223.0,0.0,2223.000000,2223.000000,2223.000000,2223.000000,2223.000000
mean,286.335146,0.0,-41.437679,0.0,-62.316230,0.0,11.592982,0.0,210.322537,0.0,...,1.717148,0.0,2.959215,0.0,NaN,5.676428,0.003599,-40.562512,144.628434,12726.153306
std,272.948935,0.0,22.838110,0.0,29.821057,0.0,3.051872,0.0,75.701864,0.0,...,10.100781,0.0,5.480424,0.0,NaN,0.591176,0.169676,0.041257,0.080538,7167.320247
min,24.120000,0.0,-65.610000,0.0,-87.700000,0.0,2.500000,0.0,81.000000,0.0,...,-20.102442,0.0,-8.066219,0.0,NaN,0.000000,0.000000,-40.680000,144.488130,91.900000
25%,67.000000,0.0,-56.620000,0.0,-86.765000,0.0,9.900000,0.0,141.000000,0.0,...,-6.833729,0.0,-1.356157,0.0,NaN,5.200000,0.000000,-40.578266,144.565645,6502.900000
50%,168.380000,0.0,-54.680000,0.0,-83.640000,0.0,12.100000,0.0,253.000000,0.0,...,3.215421,0.0,2.423275,0.0,NaN,5.600000,0.000000,-40.545795,144.632700,12953.200000
75%,452.110000,0.0,-25.285000,0.0,-35.055000,0.0,13.600000,0.0,275.000000,0.0,...,11.449490,0.0,7.029738,0.0,NaN,6.000000,0.000000,-40.533890,144.682830,18794.750000
max,1022.310000,0.0,10.420000,0.0,7.040000,0.0,20.300000,0.0,342.000000,0.0,...,17.189524,0.0,13.875229,0.0,NaN,8.100000,8.000000,-40.523590,144.780080,25323.700000

In [28]:
df.loc[df['wspd'] > 13]

,time,base_time,time_offset,pres,qc_pres,tdry,qc_tdry,dp,qc_dp,wspd,...,u_wind,qc_u_wind,v_wind,qc_v_wind,wstat,asc,qc_asc,lat,lon,alt
15,2024-04-30 11:30:30,2024-04-30,2024-04-30 11:30:30,1000.51,0,10.09,0,4.99,0,13.3,...,-3.888546,0,12.718853,0,NaN,4.5,0,-40.677574,144.68904,271.1
16,2024-04-30 11:30:31,2024-04-30,2024-04-30 11:30:31,999.44,0,10.22,0,4.94,0,13.5,...,-3.947020,0,12.910113,0,NaN,4.5,0,-40.677460,144.68900,280.0
17,2024-04-30 11:30:34,2024-04-30,2024-04-30 11:30:34,998.36,0,10.19,0,4.95,0,13.7,...,-3.776232,0,13.169285,0,NaN,4.5,0,-40.677110,144.68886,289.1
18,2024-04-30 11:30:35,2024-04-30,2024-04-30 11:30:35,997.25,0,10.17,0,5.05,0,13.8,...,-3.803796,0,13.265411,0,NaN,4.6,0,-40.676990,144.68881,298.3
19,2024-04-30 11:30:38,2024-04-30,2024-04-30 11:30:38,996.13,0,10.08,0,5.03,0,13.9,...,-3.597586,0,13.426369,0,NaN,4.7,0,-40.676632,144.68867,307.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1910,2024-04-30 12:33:39,2024-04-30,2024-04-30 12:33:39,43.72,0,-54.85,0,-86.80,0,13.7,...,13.681224,0,-0.717005,0,NaN,6.1,0,-40.541412,144.73264,21520.0
1911,2024-04-30 12:33:42,2024-04-30,2024-04-30 12:33:42,43.64,0,-54.89,0,-86.83,0,13.6,...,13.581362,0,-0.711772,0,NaN,6.1,0,-40.541430,144.73312,21532.2
1912,2024-04-30 12:33:43,2024-04-30,2024-04-30 12:33:43,43.55,0,-54.91,0,-86.87,0,13.4,...,13.381636,0,-0.701304,0,NaN,6.1,0,-40.541440,144.73328,21544.5
1913,2024-04-30 12:33:46,2024-04-30,2024-04-30 12:33:46,43.47,0,-54.92,0,-86.90,0,13.3,...,13.281773,0,-0.696071,0,NaN,6.0,0,-40.541460,144.73375,21556.5
1914,2024-04-30 12:33:47,2024-04-30,2024-04-30 12:33:47,43.39,0,-54.90,0,-86.93,0,13.1,...,13.082047,0,-0.685604,0,NaN,5.7,0,-40.541466,144.73390,21567.9

df.wspd.median()

In [42]:
w_df = df.wspd

In [48]:
w_df = df['wspd']

In [46]:
w_df.describe()

count    2223.000000
mean       11.592982
std         3.051872
min         2.500000
25%         9.900000
50%        12.100000
75%        13.600000
max        20.300000
Name: wspd, dtype: float64

In [52]:
df = pd.read_csv(r'C:\Users\chesh\Desktop\Cape K workshop\Workshop Project\combined_output.csv')

In [58]:
df = df.sort_values(by='time')

In [60]:
df

,time,base_time,time_offset,total_N_conc,qc_total_N_conc,total_SA_conc,qc_total_SA_conc,total_V_conc,qc_total_V_conc,event_1,...,total_pump_voltage,inlet_temperature,box_temperature,avalanche_photodiode_temperature,avalanche_photodiode_voltage,sheath_pump_voltage,status_flags,lat,lon,alt
518391,2024-07-30 00:00:00.615000000,2024-07-30,2024-07-30 00:00:00.615000000,0.787879,0,3.163928e+06,0,7.300017e+08,0,7.0,...,2.631,21.6,27.8,26.6,206.0,2.795,0.0,-40.683304,144.68971,67.0
518392,2024-07-30 00:00:01.642000000,2024-07-30,2024-07-30 00:00:01.642000000,0.666667,0,1.120075e+07,0,7.711592e+09,0,2.0,...,2.632,21.6,27.8,26.6,206.0,2.794,0.0,-40.683304,144.68971,67.0
518393,2024-07-30 00:00:02.643000000,2024-07-30,2024-07-30 00:00:02.643000000,1.393939,0,7.834169e+06,0,3.010337e+09,0,9.0,...,2.632,21.6,27.8,26.6,206.0,2.792,0.0,-40.683304,144.68971,67.0
518394,2024-07-30 00:00:03.615000000,2024-07-30,2024-07-30 00:00:03.615000000,0.909091,0,4.129715e+06,0,1.217818e+09,0,4.0,...,2.632,21.6,27.8,26.6,206.0,2.794,0.0,-40.683304,144.68971,67.0
518395,2024-07-30 00:00:04.615000000,2024-07-30,2024-07-30 00:00:04.615000000,0.727273,0,2.226600e+06,0,4.663973e+08,0,5.0,...,2.632,21.6,27.8,26.6,206.0,2.795,0.0,-40.683304,144.68971,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
431988,2024-10-14 23:59:55.872,2024-10-14,2024-10-14 23:59:55.872,14.265310,0,8.735434e+07,0,4.317490e+10,0,31.0,...,2.739,21.6,26.2,25.1,207.0,2.811,0.0,-40.683304,144.68971,67.0
431989,2024-10-14 23:59:56.845,2024-10-14,2024-10-14 23:59:56.845,13.040820,0,7.085811e+07,0,2.554195e+10,0,35.0,...,2.739,21.6,26.2,25.1,207.0,2.796,0.0,-40.683304,144.68971,67.0
431990,2024-10-14 23:59:57.899,2024-10-14,2024-10-14 23:59:57.899,13.775512,0,7.324068e+07,0,3.700974e+10,0,26.0,...,2.741,21.6,26.2,25.1,207.0,2.794,0.0,-40.683304,144.68971,67.0
431991,2024-10-14 23:59:58.817,2024-10-14,2024-10-14 23:59:58.817,13.408164,0,4.757866e+07,0,1.150333e+10,0,31.0,...,2.742,21.6,26.2,25.1,207.0,2.792,0.0,-40.683304,144.68971,67.0
431992,2024-10-14 23:59:59.818,2024-10-14,2024-10-14 23:59:59.818,14.474230,0,7.034952e+07,0,2.122661e+10,0,28.0,...,2.741,21.6,26.2,25.1,207.0,2.790,0.0,-40.683304,144.68971,67.0

In [62]:
df.columns

Index(['time', 'base_time', 'time_offset', 'total_N_conc', 'qc_total_N_conc',
       'total_SA_conc', 'qc_total_SA_conc', 'total_V_conc', 'qc_total_V_conc',
       'event_1', 'event_3', 'event_4', 'dead_time', 'inlet_pressure',
       'total_flow_rate', 'sheath_flow_rate', 'analog_input_voltage_0',
       'analog_input_voltage_1', 'digital_input_level_0',
       'digital_input_level_1', 'digital_input_level_2', 'laser_power',
       'laser_current', 'total_pump_voltage', 'inlet_temperature',
       'box_temperature', 'avalanche_photodiode_temperature',
       'avalanche_photodiode_voltage', 'sheath_pump_voltage', 'status_flags',
       'lat', 'lon', 'alt'],
      dtype='object')

In [76]:
df[['total_SA_conc','total_V_conc]

count    604789.000000
mean         40.441790
std          49.158763
min           0.000000
25%          17.000000
50%          26.000000
75%          39.000000
max        1062.000000
Name: event_1, dtype: float64

In [110]:
df = pd.read_csv(r'C:\Users\chesh\Desktop\Cape K workshop\Workshop Project\kcgmetM1.csv')

SyntaxError: incomplete input (942385127.py, line 1)

In [122]:
df.sample(20)

,time,base_time,time_offset,atmos_pressure,qc_atmos_pressure,temp_mean,qc_temp_mean,temp_std,rh_mean,qc_rh_mean,...,qc_pwd_cumul_rain,pwd_cumul_snow,qc_pwd_cumul_snow,logger_volt,qc_logger_volt,logger_temp,qc_logger_temp,lat,lon,alt
53919,2025-01-19 08:45:00,2025-01-19,2025-01-19 08:45:00,100.56,0,17.650,0,0.067,80.20,0,...,0,0.0,0,13.07,0,21.930,0,-40.68078,144.68983,80.0
86309,2025-01-08 15:35:00,2025-01-08,2025-01-08 15:35:00,100.54,0,15.980,0,0.058,85.80,0,...,0,0.0,0,13.19,0,16.930,0,-40.68078,144.68983,80.0
146704,2024-12-03 14:31:00,2024-12-03,2024-12-03 14:31:00,100.14,0,13.260,0,0.040,81.50,0,...,0,0.0,0,13.26,0,13.920,0,-40.68078,144.68983,80.0
311980,2024-05-31 16:08:00,2024-05-31,2024-05-31 16:08:00,100.80,0,11.640,0,0.134,69.83,0,...,0,0.0,0,13.32,0,11.890,0,-40.68078,144.68983,80.0
66879,2024-05-29 08:45:00,2024-05-29,2024-05-29 08:45:00,100.82,0,10.760,0,0.068,87.90,0,...,0,0.0,0,13.29,0,12.490,0,-40.68078,144.68983,80.0
221964,2025-01-03 20:52:00,2025-01-03,2025-01-03 20:52:00,100.11,0,17.020,0,0.063,86.70,0,...,1,NaN,1,13.17,0,18.150,0,-40.68078,144.68983,80.0
313061,2024-05-24 10:09:00,2024-05-24,2024-05-24 10:09:00,101.87,0,11.030,0,0.069,95.70,0,...,0,0.0,0,13.32,0,11.810,0,-40.68078,144.68983,80.0
319582,2024-05-26 22:50:00,2024-05-26,2024-05-26 22:50:00,101.24,0,13.860,0,0.040,85.00,0,...,0,0.0,0,13.24,0,14.970,0,-40.68078,144.68983,80.0
327585,2024-04-29 12:13:00,2024-04-29,2024-04-29 12:13:00,101.76,0,11.180,0,0.099,66.35,0,...,0,0.0,0,13.32,0,11.710,0,-40.68078,144.68983,80.0
101000,2024-08-25 20:26:00,2024-08-25,2024-08-25 20:26:00,99.45,0,11.320,0,0.061,90.90,0,...,0,0.0,0,13.31,0,12.220,0,-40.68078,144.68983,80.0
147123,2024-12-03 21:30:00,2024-12-03,2024-12-03 21:30:00,100.59,0,14.100,0,0.033,79.95,0,...,0,0.0,0,13.18,0,18.040,0,-40.68078,144.68983,80.0
248005,2024-09-04 05:53:00,2024-09-04,2024-09-04 05:53:00,100.26,0,13.420,0,0.039,13.91,0,...,0,0.0,0,13.24,0,15.160,0,-40.68078,144.68983,80.0
154864,2024-12-29 06:31:00,2024-12-29,2024-12-29 06:31:00,100.46,0,16.870,0,0.087,81.90,0,...,1,NaN,1,13.09,0,21.620,0,-40.68078,144.68983,80.0
70411,2024-07-28 19:37:00,2024-07-28,2024-07-28 19:37:00,101.80,0,4.979,0,0.058,91.30,0,...,0,0.0,0,13.47,0,6.018,0,-40.68078,144.68983,80.0
71136,2024-08-03 07:42:00,2024-08-03,2024-08-03 07:42:00,101.51,0,11.240,0,0.043,72.92,0,...,0,0.0,0,13.26,0,13.640,0,-40.68078,144.68983,80.0
263959,2024-08-15 07:47:00,2024-08-15,2024-08-15 07:47:00,100.25,0,12.190,0,0.050,100.40,0,...,0,0.0,0,13.27,0,13.580,0,-40.68078,144.68983,80.0
248600,2024-09-04 15:48:00,2024-09-04,2024-09-04 15:48:00,99.84,0,14.330,0,0.034,15.59,0,...,0,0.0,0,13.25,0,14.900,0,-40.68078,144.68983,80.0
99917,2024-08-25 02:23:00,2024-08-25,2024-08-25 02:23:00,99.08,0,13.080,0,0.047,95.90,0,...,0,0.0,0,13.23,0,15.080,0,-40.68078,144.68983,80.0
298411,2024-12-16 05:59:00,2024-12-16,2024-12-16 05:59:00,98.80,0,20.180,0,0.087,82.20,0,...,0,0.0,0,13.05,0,23.790,0,-40.68078,144.68983,80.0
287405,2025-01-16 14:33:00,2025-01-16,2025-01-16 14:33:00,100.55,0,14.800,0,0.058,80.90,0,...,0,0.0,0,13.23,0,15.480,0,-40.68078,144.68983,80.0

In [111]:
df.describe()

,atmos_pressure,qc_atmos_pressure,temp_mean,qc_temp_mean,temp_std,rh_mean,qc_rh_mean,rh_std,vapor_pressure_mean,qc_vapor_pressure_mean,...,qc_pwd_cumul_rain,pwd_cumul_snow,qc_pwd_cumul_snow,logger_volt,qc_logger_volt,logger_temp,qc_logger_temp,lat,lon,alt
count,424772.000000,424772.000000,424770.000000,424772.000000,424769.000000,424772.000000,424772.000000,424772.000000,424770.000000,424772.00000,...,424772.000000,386258.000000,424772.000000,424772.000000,424772.0,424772.000000,424772.0,4.247720e+05,4.247720e+05,424772.0
mean,100.646081,0.000217,12.566942,0.000071,0.062380,77.803766,0.004854,0.492947,1.155598,0.00323,...,0.090639,0.005693,0.090679,13.254958,0.0,14.416222,0.0,-4.068078e+01,1.446898e+02,80.0
std,1.429458,0.020812,3.550844,0.022235,0.165804,16.880338,0.163146,1.116689,0.352860,0.09628,...,0.287784,3.230267,0.287202,0.097213,0.0,4.016903,0.0,3.734049e-10,7.249818e-10,0.0
min,0.000000,0.000000,-26.590000,0.000000,0.000000,-65.630000,0.000000,0.000000,-0.141000,0.00000,...,0.000000,0.000000,0.000000,12.430000,0.0,3.566000,0.0,-4.068078e+01,1.446898e+02,80.0
25%,100.040000,0.000000,10.880000,0.000000,0.046000,71.350000,0.000000,0.224000,0.960000,0.00000,...,0.000000,0.000000,0.000000,13.200000,0.0,11.890000,0.0,-4.068078e+01,1.446898e+02,80.0
50%,100.670000,0.000000,12.410000,0.000000,0.056000,79.470000,0.000000,0.273000,1.149000,0.00000,...,0.000000,0.000000,0.000000,13.260000,0.0,13.960000,0.0,-4.068078e+01,1.446898e+02,80.0
75%,101.320000,0.000000,14.160000,0.000000,0.071000,88.900000,0.000000,0.426000,1.360000,0.00000,...,0.000000,0.000000,0.000000,13.310000,0.0,16.660000,0.0,-4.068078e+01,1.446898e+02,80.0
max,103.200000,2.000000,1381.000000,8.000000,105.800000,204.200000,8.000000,145.200000,2.301000,8.00000,...,8.000000,2005.000000,4.000000,13.550000,0.0,30.590000,0.0,-4.068078e+01,1.446898e+02,80.0

In [112]:
df.columns

Index(['time', 'base_time', 'time_offset', 'atmos_pressure',
       'qc_atmos_pressure', 'temp_mean', 'qc_temp_mean', 'temp_std', 'rh_mean',
       'qc_rh_mean', 'rh_std', 'vapor_pressure_mean', 'qc_vapor_pressure_mean',
       'vapor_pressure_std', 'wspd_arith_mean', 'qc_wspd_arith_mean',
       'wspd_vec_mean', 'qc_wspd_vec_mean', 'wdir_vec_mean',
       'qc_wdir_vec_mean', 'wdir_vec_std', 'tbrg_precip_total',
       'qc_tbrg_precip_total', 'tbrg_precip_total_corr',
       'qc_tbrg_precip_total_corr', 'org_precip_rate_mean',
       'qc_org_precip_rate_mean', 'pwd_err_code', 'pwd_mean_vis_1min',
       'qc_pwd_mean_vis_1min', 'pwd_mean_vis_10min', 'qc_pwd_mean_vis_10min',
       'pwd_pw_code_inst', 'qc_pwd_pw_code_inst', 'pwd_pw_code_15min',
       'qc_pwd_pw_code_15min', 'pwd_pw_code_1hr', 'qc_pwd_pw_code_1hr',
       'pwd_precip_rate_mean_1min', 'qc_pwd_precip_rate_mean_1min',
       'pwd_cumul_rain', 'qc_pwd_cumul_rain', 'pwd_cumul_snow',
       'qc_pwd_cumul_snow', 'logger_volt', 'qc_logger_volt', 'logger_temp',
       'qc_logger_temp', 'lat', 'lon', 'alt'],
      dtype='object')

In [108]:
 baseline_df = df[df['wdir_vec_mean'] == 1]

,time,base_time,time_offset,atmos_pressure,qc_atmos_pressure,temp_mean,qc_temp_mean,temp_std,rh_mean,qc_rh_mean,...,qc_pwd_cumul_rain,pwd_cumul_snow,qc_pwd_cumul_snow,logger_volt,qc_logger_volt,logger_temp,qc_logger_temp,lat,lon,alt
0,2024-10-07 00:00:00,2024-10-07,2024-10-07 00:00:00,99.74,0,11.35,0,0.058,67.88,0,...,0,0.0,0,13.27,0,13.56,0,-40.68078,144.68983,80.0
1,2024-10-07 00:01:00,2024-10-07,2024-10-07 00:01:00,99.76,0,11.46,0,0.075,69.69,0,...,0,0.0,0,13.27,0,13.57,0,-40.68078,144.68983,80.0
2,2024-10-07 00:02:00,2024-10-07,2024-10-07 00:02:00,99.77,0,11.53,0,0.051,69.12,0,...,0,0.0,0,13.27,0,13.58,0,-40.68078,144.68983,80.0
3,2024-10-07 00:03:00,2024-10-07,2024-10-07 00:03:00,99.76,0,11.52,0,0.047,69.67,0,...,0,0.0,0,13.27,0,13.59,0,-40.68078,144.68983,80.0
4,2024-10-07 00:04:00,2024-10-07,2024-10-07 00:04:00,99.71,0,11.33,0,0.077,67.27,0,...,0,0.0,0,13.27,0,13.61,0,-40.68078,144.68983,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424767,2024-06-09 23:55:00,2024-06-09,2024-06-09 23:55:00,101.11,0,10.78,0,0.059,60.40,0,...,0,0.0,0,13.33,0,11.47,0,-40.68078,144.68983,80.0
424768,2024-06-09 23:56:00,2024-06-09,2024-06-09 23:56:00,101.11,0,10.81,0,0.081,62.19,0,...,0,0.0,0,13.33,0,11.48,0,-40.68078,144.68983,80.0
424769,2024-06-09 23:57:00,2024-06-09,2024-06-09 23:57:00,101.11,0,10.80,0,0.063,59.90,0,...,0,0.0,0,13.33,0,11.49,0,-40.68078,144.68983,80.0
424770,2024-06-09 23:58:00,2024-06-09,2024-06-09 23:58:00,101.12,0,10.80,0,0.074,61.16,0,...,0,0.0,0,13.33,0,11.50,0,-40.68078,144.68983,80.0
424771,2024-06-09 23:59:00,2024-06-09,2024-06-09 23:59:00,101.11,0,10.82,0,0.045,60.71,0,...,0,0.0,0,13.33,0,11.51,0,-40.68078,144.68983,80.0